﻿@model IEnumerable<AdminLTE1.Models.Booking>

@{
    ViewBag.Title = "Booking Overview";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.Customer_CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_ItemID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Customer_CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service_ItemID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
