﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.main-menu {
    background-image: linear-gradient(to right bottom, rgba(245, 230, 62, 0.75), rgba(244, 235, 51, 0.28));
}

.main-container {
    padding: 10px;
    margin: 0;
    width: 100%;
    background-image: url('image/sample2.jpg');
    background-size: 100% 100%;
    padding-bottom: 20px;
}

#main-navigation {
    border: none;
    border-bottom: 5px solid #D0701A;
}

#myNavbar ul li a {
    color: #3a3a3a;
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #000 1px;
}

    #myNavbar ul li a:hover {
        color: #938c8c;
    }

.secondary {
    padding-top: 10px;
    margin-top: -20px;
}

.index-footer {
    width: 100%;
    opacity: 0.4;
    background-color: #42433E;
}

    .index-footer nav {
        margin-left: 50%;
        transform: translateX(-50%);
        padding-top: 5px;
        width: 100%;
    }

        .index-footer nav ul {
            margin-left: 50%;
            transform: translateX(-50%);
        }

            .index-footer nav ul li {
                margin-right: 30px;
                float: left;
            }

                .index-footer nav ul li span {
                    font-size: 22px;
                    color: #fff;
                    padding: 10px;
                    border-radius: 50%;
                    background-color: #42433E;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                }

.logo-container .img-logo {
    background-image: url('image/logo.png');
    background-size: 100% 100%;
    height: 330px;
    margin-top: 40px;
}

.learn-more {
    margin-left: 50%;
    transform: translateX(-50%);
}

.brandname {
    width: 160px;
    height: 35px;
    margin-bottom: 20px;
    background-image: url('image/brandname.png');
    background-size: 100% 100%;
    border-radius: 4px;
}

#btn-container {
    width: 100%;
    margin-left: 50%;
    width: 400px;
    transform: translateX(-50%);
}

    #btn-container div a {
        margin-top: 15px;
    }

#lower-nav {
    background-color: #42433E;
}

    #lower-nav ul {
        margin-left: 50%;
        transform: translateX(-50%);
    }

        #lower-nav ul li {
            margin-right: 20px;
        }

            #lower-nav ul li a {
                color: #fff;
                font-size: 18px;
            }

.body-content h3 {
    text-align: center;
    color: #3a3a3a;
    font-weight: bold;
    text-shadow: 20px 20px 30px #481515;
    font-size: 25px;
}

.body-content p {
   
    /* text-align: center; */
    color: #3a3a3a;
    /* font-weight: bold; */
    /* text-shadow: 10px 10px 30px #481515; */
    font-size: 18px;
}

.body-content button {
    margin-left: 50%;
    transform: translateX(-50%);
}

.post-content {
    margin-top: 20%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #ffffff59;
}

.thumbnail {
    position: relative;
    padding: 10px;
    overflow: hidden;
    border-top: 14px solid #42433E;
}

    .thumbnail:hover {
        border-top: 14px solid #F4EB33;
    }

        .thumbnail:hover img {
            transform: scale(1.2,1.2);
        }

.info-container {
    background-color: #938c8c;
}

    .info-container div p {
        color: #fff;
        text-shadow: none;
        font-size: 12px;
        text-align: left;
    }

#rooms-container {
    background-image: linear-gradient(to right bottom, rgba(239, 225, 71, 0.62), rgba(244, 235, 51, 0.28));
    border-radius: 5px;
}

#rooms-header {
    font-size: 24px;
    font-weight: bold;
}

#about-img {
    width: 100%;
    height: 250px;
    background-image: url('image/img6.jpg');
    background-size: 100% 100%;
}

#about-us {
    width: 100%;
    padding: 10px;
    text-shadow: none;
    background-color: #e1dddd;
    border-radius: 5px;
}
#about-us div{
    width: 100%;
}

    #about-us p {
        text-shadow: none;
    }

#input-container {
    width: 100%;
    background-color: antiquewhite;
    padding: 20px;
}
    #input-container .row div p {
        font-size: 14px;
        text-shadow: none;
    }
#tabs-container {
    width: 100%;
    border-radius: 10px;
}

.slider-container {
    width: 100%;
    height: 50%;
    background-color: #808080;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 10px;
}
.slider-content div div img {
    width: 100%;
    margin: 30px auto;
    border-radius: 50%;
    
}
.slider-content div div.testimony {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.slider-content div div h3 {
    color: white;
    text-shadow: none;
}
.slider-content div div h3 small{
    color: white;
    text-shadow: none;
}
.slider-content div div p {
    color: #fff;
    text-shadow: none;
}
#carousel-container {
    width: 100%;
    background-color: #808080;
    padding: 20px;
    border-radius: 5px;
}
/*Media query*/
@media only screen and (max-width: 1024px) {
    .secondary ul {
        margin-left: 50%;
        transform: translateX(-50%);
        padding-right: 20px;
    }

    .secondary-menu ul li {
        margin: 0;
        width: 600px;
        margin-top: 10px;
    }

        .secondary-menu ul li .nav-link {
            height: 60px;
            margin-top: 10px;
            font-size: 22px;
        }
    #input-container .row div p {
        font-size: 12px;
    }
    #input-container .row div button {
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    .secondary ul {
        margin-left: 50%;
        transform: translateX(-50%);
        padding-right: 20px;
    }

    .secondary-menu ul li {
        margin: 0;
        width: 500px;
        margin-top: 10px;
    }

        .secondary-menu ul li .nav-link {
            height: 60px;
            margin-top: 10px;
            font-size: 22px;
        }

    #lower-nav ul {
        margin-left: 50%;
        transform: translateX(-50%);
    }

        #lower-nav ul li {
            margin-right: 15px;
            float: left;
        }
}

@media only screen and (max-width: 425px) {
    .secondary {
        padding-left: 100px;
    }

        .secondary ul {
            margin-left: 55px;
        }

    .secondary-menu ul li {
        margin: 0;
        width: 300px;
        margin-top: 10px;
    }

        .secondary-menu ul li .nav-link {
            height: 50px;
            margin-top: 10px;
            font-size: 22px;
        }

    #btn-container {
        width: 500px;
        margin-left: 50%;
        width: 300px;
        transform: translateX(-50%);
    }

    .index-footer nav ul li {
        margin-right: 30px;
        float: left;
    }
}

@media only screen and (max-width: 375px) {
    .secondary {
        padding-left: 100px;
    }

        .secondary ul {
            margin-left: 20px;
        }

    .secondary-menu ul li {
        margin: 0;
        width: 300px;
        margin-top: 10px;
    }

        .secondary-menu ul li .nav-link {
            height: 50px;
            margin-top: 10px;
            font-size: 22px;
        }

    #lower-nav ul li {
        margin-right: 10px;
        float: left;
    }
    #input-container .row div p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 325px) {
    .secondary {
        padding-left: 100px;
    }

        .secondary ul {
            margin-left: 20px;
        }

    .secondary-menu ul li {
        margin: 0;
        width: 200px;
        margin-top: 10px;
    }

        .secondary-menu ul li .nav-link {
            height: 50px;
            margin-top: 10px;
            font-size: 22px;
        }

    #lower-nav ul li {
        margin-right: 5px;
        float: left;
    }

    .body-content h3 {
        text-align: center;
        color: #3a3a3a;
        font-weight: bold;
        text-shadow: 20px 20px 30px #481515;
        font-size: 20px;
    }

    .body-content p {
        text-align: center;
        color: #3a3a3a;
        font-weight: bold;
        text-shadow: 10px 10px 30px #481515;
        font-size: 14px;
    }

    #lower-nav ul li a {
        color: #fff;
        font-size: 14px;
    }
}


.rmxav .panel span
{
    display:block;
}



/* Icons (made with Icomoon.io) */
/* Feather Icons by Cole Bemis */
@font-face {
	font-family: 'feather';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/feather/feather.eot?1gafuo');
	src: url('../fonts/feather/feather.eot?1gafuo#iefix') format('embedded-opentype'), url('../fonts/feather/feather.woff2?1gafuo') format('woff2'), url('../fonts/feather/feather.ttf?1gafuo') format('truetype'), url('../fonts/feather/feather.woff?1gafuo') format('woff'), url('../fonts/feather/feather.svg?1gafuo#feather') format('svg');
}

.icon {
	font-family: 'feather';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.icon--arrow-left:before {
	content: '\e901';
}

.icon--menu:before {
	content: '\e903';
}

.icon--cross:before {
	content: '\e117';
} 


/* Menu styles */

.menu {
	position: fixed;
	top: 120px;
	left: 0;
	width: 300px;
	height: calc(100vh - 120px);
	background: #1c1d22;
}

.menu__wrap {
	position: absolute;
	top: 3.5em;
	bottom: 0;
	overflow: hidden;
	width: 100%;
}

.menu__level {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	overflow-y: scroll;
	width: calc(100% + 50px);
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu__level--current {
	visibility: visible;
}

.menu__item {
	display: block;
	width: calc(100% - 50px);
}

.menu__link {
	font-weight: 600;
	position: relative;
	display: block;
	padding: 1em 2.5em 1em 1.5em;
	color: #bdbdbd;
	-webkit-transition: color 0.1s;
	transition: color 0.1s;
}

.menu__link[data-submenu]::after {
	content: '\e904';
	font-family: 'feather';
	position: absolute;
	right: 0;
	padding: 0.25em 1.25em;
	color: #2a2b30;
}

.menu__link:hover,
.menu__link[data-submenu]:hover::after {
	color: #5c5edc;
}

.menu__link--current::before {
	content: '\00B7';
	font-size: 1.5em;
	line-height: 0;
	position: absolute;
	top: 50%;
	left: 0.5em;
	height: 4px;
	color: #5c5edc;
}

[class^='animate-'],
[class*=' animate-'] {
	visibility: visible;
}

.animate-outToRight .menu__item {
	-webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes outToRight {
	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

.animate-outToLeft .menu__item {
	-webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes outToLeft {
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.animate-inFromLeft .menu__item {
	-webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.animate-inFromRight .menu__item {
	-webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inFromRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.menu__breadcrumbs {
	font-size: 0.65em;
	line-height: 1;
	position: relative;
	padding: 2.5em 3.75em 1.5em 2.5em;
}

.menu__breadcrumbs a {
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #5c5edc;
}

.menu__breadcrumbs a:last-child {
	pointer-events: none;
}

.menu__breadcrumbs a:hover {
	color: #8182e0;
}

.menu__breadcrumbs a:not(:last-child)::after {
	content: '\e902';
	font-family: 'feather';
	display: inline-block;
	padding: 0 0.5em;
	color: #33353e;
}

.menu__breadcrumbs a:not(:last-child):hover::after {
	color: #33353e;
}

.menu__back {
	font-size: 1.05em;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 2.25em;
	margin: 0;
	padding: 1.365em 0.65em 0 0;
	cursor: pointer;
	color: #2a2b30;
	border: none;
	background: none;
}

.menu__back--hidden {
	pointer-events: none;
	opacity: 0;
}

.menu__back:hover,
.menu__back:focus {
	color: #fff;
	outline: none;
}


/* Open and close buttons */

.action {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.action:focus {
	outline: none;
}

.action--open {
	font-size: 1.5em;
	top: 1em;
	left: 1em;
	display: none;
	color: #fff;
	position: fixed;
	z-index: 1000;
}

.action--close {
	font-size: 1.1em;
	top: 1.25em;
	right: 1em;
	display: none;
	color: #45464e;
}

/* Example media query */
@media screen and (max-width: 40em) {
	.action--open,
	.action--close {
		display: block;
	}
	.menu {
		z-index: 1000;
		top: 0;
		width: 100%;
		height: 100vh;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.menu--open {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
