﻿@model AdminLTE1.Models.Service

@{
    ViewBag.Title = "Service Details";
}



<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCharges)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.OverrideRateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverrideRateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedRateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedRateID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
