﻿@model GoodshepherdNew.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapacityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapacityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedRate_FixedRateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedRate_FixedRateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverrideRate_OverrideRateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverrideRate_OverrideRateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos_PhotoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photos_PhotoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
