﻿@model IEnumerable<GoodshepherdNew.Models.Service>

@{
    ViewBag.Title = "Best Options";
}

<h2>FOUND THESE BEST OPTIONS JUST FOR YOU!</h2>
@foreach (var item in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row">

                </div>
            </div>
            <div class="col-md-9 rmxav">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="panel panel-danger">
                            <h4 class="text">@Html.DisplayFor(modelItem => item.ItemName)</h4>
                            <div> @Html.DisplayFor(modelItem => item.CapacityType)</div>
                            <div>@Html.DisplayFor(modelItem => item.Capacity)</div>
                            <div>@Html.DisplayFor(modelItem => item.Specification)</div>
                            <div> @Html.DisplayFor(modelItem => item.Photos_PhotoID)</div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>



}

