﻿
@{
    ViewBag.Title = "Item Detail";
}

<div class="container">
    <h1 class="text-center" style="padding-top:57px;padding-bottom:47px;">Product Details</h1>
    <div class="row">
        <div class="col-md-7" style="height:376px;">
            <div class="row">
                <div class="col-md-12"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                <div class="col">
                    <div class="card" style="padding-top:29px;">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#item-1-1" id="item-1-1-tab" data-toggle="tab" role="tab" aria-controls="item-1-1" aria-selected="true">Overview</a></li>
                                <li class="nav-item"><a class="nav-link" href="#item-1-2" id="item-1-2-tab" data-toggle="tab" role="tab" aria-controls="item-1-2" aria-selected="false">Specifications</a></li>
                                <li class="nav-item"><a class="nav-link" href="#item-1-3" id="item-1-3-tab" data-toggle="tab" role="tab" aria-controls="item-1-3" aria-selected="false">Gallery</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div id="nav-tabContent" class="tab-content">
                                <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab">
                                    <h4>First Item Title</h4>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                                <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                                    <h4>Second Item Title</h4>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                                <div id="item-1-3" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-3-tab">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                                            <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                                            <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                                            <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block" src="~/Imageup/videomicme.png"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin elit massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris malesuada rutrum magna. Phasellus maximus
                nunc eget massa euismod bibendum. Phasellus justo felis, porttitor nec justo eu, vestibulum ultrices neque. Maecenas iaculis euismod tempor. Cras vel pellentesque nunc. Sed sit amet convallis dolor, eget dictum elit. Donec ut justo
                arcu. Vivamus tincidunt nibh ac sem lobortis semper. Cras vulputate mattis euismod. Morbi accumsan leo in leo condimentum, tincidunt pretium dui scelerisque. Morbi mi dui, vehicula vel velit eget, mattis bibendum lectus. Integer iaculis
                libero at arcu laoreet aliquam. Cras at libero sapien. Sed luctus erat sit amet est hendrerit faucibus.
            </p>
            <h2 class="text-center text-success"><i class="fa fa-dollar"></i> RM 318.00</h2><button class="btn btn-danger btn-block btn-lg center-block" type="button"><i class="fa fa-cart-plus"></i>&nbsp;Book Now</button>
        </div>
    </div>
</div>
