﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Good Shepherd | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container main-container">
        <nav class="navbar navbar-default navbar-fixed-top" id="main-navigation">
            <div class="container-fluid main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle toggle-icon" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><div class="brandname"></div></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="#"><span class="fa fa-home"></span> Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About us <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="fa fa-map-marker"></span> location</a></li>
                        <li><a href="#"><span class="fa fa-bed"></span> Romms&Services</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="logo-container row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 img-logo">

                </div>
                <div class="col-md-4">

                </div>
            </div>
            <br><br>
        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="container-fluid" id="lower-nav">
                    <ul class="navbar-nav nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><span class="fa fa-instagram"></span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><span class="fa fa-google-plus"></span></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>