﻿
@{
    ViewBag.Title = "Index";
}
@*<div class="container-fluid main-container" style="width: 100%; padding: 20px;">
        <div class="container-fluid secondary">
            <nav class="navbar navbar-expand-sm secondary-menu navbar-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <br>
                        <h4 class=".blink-me">SET YOUR SCHEDULE NOW!!</h4>
                    </li>
                    <li class="nav-item">
                        <span>Email</span>
                        <input type="email" name="email" class="nav-link form-control" placeholder="email">
                    </li>
                    <li class="nav-item">
                        <span>Start date</span>
                        <input type="date" name="dateOne" class="nav-link form-control">
                    </li>
                    <li class="nav-item">
                        <span>End date</span>
                        <input type="date" name="dateTwo" class="nav-link form-control">
                    </li>
                    <li class="nav-item">
                        <br>
                        <button type="button" class="nav-link form-control btn btn-danger">submit</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="logo-container row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 img-logo">

                </div>
                <div class="col-md-4">

                </div>
            </div>
            <br><br>
        </div>
    </div>*@
@*<div class="container" style="background-color: red; width: 100%;">
        <br /><br />
        <form action="/" method="post">
            <ul class="list-inline row" style="background-color: green;">
                <li class="list-inline-item col-md-4 col-lg-4 col-sm-4">
                    <br />
                    <span class="fa fa-calendar"> Arrival date</span>
                    <input type="date" name="arrival" value="" class="form-control" />
                </li>
                <li class="list-inline-item col-md-4 col-lg-4 col-sm-4">
                    <br />
                    <span class="fa fa-calendar"> Departure date</span>
                    <input type="date" name="departure" value="" class="form-control" />
                </li>
                <li class="list-inline-item col-md-4 col-lg-4 col-sm-4">
                    <br />
                    <span class="fa fa-child">Children</span>
                    <input type="number" name="children" value="" class="form-control" min="0" />
                </li>
                <li class="list-inline-item col-md-4 col-lg-4 col-sm-4">
                    <br />
                    <span class="fa fa-male"> Adult</span>
                    <input type="number" name="adult" value="" class="form-control" min="0" />
                </li>
                <li class="list-inline-item col-md-4 col-lg-4 col-sm-4">
                    <br />
                    <span class="fa fa-sign-out"> Select room type</span>
                    <select class="form-control" id="roomType">
                        <option>Aircondition</option>
                        <option>Not aircondition</option>
                    </select>
                </li>
                <li class="list-inline-item col-md-4 col-lg-4 col-sm-4">
                    <br /><br />
                    <button type="submit" class="btn btn-danger form-control">Check availability</button>
                </li>
            </ul>
        </form>
    </div>*@
<!--
<br /><br />
<div class="container" id="input-container">
    <div class="row" id="">
        <div class="col-md-2 col-sm-6 col-xs-6">
            <br />
            <p><span class="fa"></span>Arrival date</p>
            <input type="date" name="name" value="" class="form-control"/>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <br />
            <p><span class="fa"></span>Departure date</p>
            <input type="date" name="name" value="" class="form-control"/>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <br />
            <p><span class="fa"></span>Adults</p>
            <input type="number" name="name" value="" class="form-control" min="0"/>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <br />
            <p><span class="fa"></span>Children</p>
            <input type="number" name="name" value="" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
            <br />
            <p><span class="fa"></span>Room Type</p>
            <select class="form-control">
                <option value="value">Airconditioned</option>
                <option value="value">Not Airconditioned</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
            <br />
            <p><span class="fa"></span>Arrival date</p>
            <button type="submit" class="form-control btn-danger">Check</button>
        </div>
    </div>
</div>    -->
<!--new changes-->
<br />
<div class="container" id="tabs-container">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs row">
                <li class="col-xs-6"><a href="#tab1default" data-toggle="tab" class="text-center">Room Rental</a></li>
                <li class="col-xs-6"><a href="#tab2default" data-toggle="tab" class="text-center">Function halls</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    <!--tab 1-->
                    <div class="container" id="input-container">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <br />
                                <p><span class="fa fa-calendar"></span> Arrival date</p>
                                <input type="date" name="name" value="" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <br />
                                <p><span class="fa fa-calendar"></span> Departure date</p>
                                <input type="date" name="name" value="" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <br />
                                <p><span class="fa fa-male"></span> Adults</p>
                                <input id="mouse-only-number-input" name="number" type="number" min="1" max="20" value="0" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <br />
                                <p><span class="fa fa-child"></span> Children</p>
                                <input id="mouse-only-number-input" name="number" type="number" min="1" max="20" value="0" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <br />
                                <p><span class="fa fa-key"></span> Room Type</p>
                                <select class="form-control">
                                    <option value="value">Air conditioned</option>
                                    <option value="value">Not Air conditioned</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <br />
                                <p><span class="fa fa-info-circle"></span></p>
                                <button type="submit" class="form-control btn-danger">Check availability</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2default">
                    <div class="container" id="input-container">
                        <div class="row" id="">
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <br />
                                <p><span class="fa fa-calendar"></span> Arrival date</p>
                                <input type="date" name="name" value="" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <br />
                                <p><span class="fa fa-calendar"></span> Departure date</p>
                                <input type="date" name="name" value="" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <br />
                                <p><span class="fa fa-pencil"></span> Student</p>
                                <input type="number" name="name" value="" class="form-control" min="0" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <br />
                                <p><span class="fa fa-briefcase"></span> Professionals</p>
                                <input type="number" name="name" value="" class="form-control" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <br />
                                <p><span class="fa fa-key"></span> Room type</p>
                                <select class="form-control">
                                    <option value="value">Airconditioned</option>
                                    <option value="value">Not Airconditioned</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <br />
                                <p><span class="fa fa-info-circle"></span></p>
                                <button type="submit" class="form-control btn-danger">Check availability</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<div class="container-fluid" id="rooms-container">
    <br /><br />
    <h1 class="text-center" id="rooms-header"><span class="fa fa-key"></span> Our Rooms</h1>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/image/img1.jpg" class="img-responsive" />
                <div class="caption post-content">
                    <h3>Robots!</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <button type="button" class="btn btn-primary">learn more</button>
                </div>
                <br /><br /><br />
                <div class="row info-container">
                    <div class="col-xs-12">
                        <p>Lorem ipsum never Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-user"></span> 4 person</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="fa fa-arrows-alt"> 35m/376ft</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-eye"></span> sea balcony</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-car"></span> kingsize/Twin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/image/img1.jpg" class="img-responsive" />
                <div class="caption post-content">
                    <h3>Robots!</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <button type="button" class="btn btn-primary">learn more</button>
                </div>
                <br /><br /><br />
                <div class="row info-container">
                    <div class="col-xs-12">
                        <p>Lorem ipsum never Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-user"></span> 4 person</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="fa fa-arrows-alt"> 35m/376ft</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-eye"></span> sea balcony</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-car"></span> kingsize/Twin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/image/img1.jpg" class="img-responsive" />
                <div class="caption post-content">
                    <h3>Robots!</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <button type="button" class="btn btn-primary">learn more</button>
                </div>
                <br /><br /><br />
                <div class="row info-container">
                    <div class="col-xs-12">
                        <p>Lorem ipsum never Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-user"></span> 4 person</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="fa fa-arrows-alt"> 35m/376ft</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-eye"></span> sea balcony</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-car"></span> kingsize/Twin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/image/img1.jpg" class="img-responsive" />
                <div class="caption post-content">
                    <h3>Robots!</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <button type="button" class="btn btn-primary">learn more</button>
                </div>
                <br /><br /><br />
                <div class="row info-container">
                    <div class="col-xs-12">
                        <p>Lorem ipsum never Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-user"></span> 4 person</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="fa fa-arrows-alt"> 35m/376ft</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-eye"></span> sea balcony</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-car"></span> kingsize/Twin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/image/img1.jpg" class="img-responsive" />
                <div class="caption post-content">
                    <h3>Robots!</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <button type="button" class="btn btn-primary">learn more</button>
                </div>
                <br /><br /><br />
                <div class="row info-container">
                    <div class="col-xs-12">
                        <p>Lorem ipsum never Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-user"></span> 4 person</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="fa fa-arrows-alt"> 35m/376ft</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-eye"></span> sea balcony</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-car"></span> kingsize/Twin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/image/img1.jpg" class="img-responsive" />
                <div class="caption post-content">
                    <h3>Robots!</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <button type="button" class="btn btn-primary">learn more</button>
                </div>
                <br /><br /><br />
                <div class="row info-container">
                    <div class="col-xs-12">
                        <p>Lorem ipsum never Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-user"></span> 4 person</p>
                    </div>
                    <div class="col-xs-6">
                        <p class="fa fa-arrows-alt"> 35m/376ft</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-eye"></span> sea balcony</p>
                    </div>
                    <div class="col-xs-6">
                        <p><span class="fa fa-car"></span> kingsize/Twin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row container" id="btn-container">
    <br />
    <div class="col-sm-6">
        <a href="#" class="btn btn-lg btn-danger learn-more">Contact us</a>
        <br />
    </div>
    <div class="col-sm-6">
        <a href="#" class="btn btn-lg btn-danger learn-more text-center">see all rooms</a>
        <br />
    </div>
</div>
<br /><br />
<hr />
<div class="container" id="about-us">
    <br /><br /><br /><br /><br />
    <div class="container">
        <h1 class="text-center">About Us</h1>
        <br />
        <p class="text-center">
            In publishing and graphic design, lorem ipsum is a placeholder
            text used to demonstrate the visual
        </p>
        <br />
        <p class="text-center">
            In publishing and graphic design, lorem ipsum is a placeholder
            text used to demonstrate the visual
        </p>
    </div>
    <br /><br />
    <div class="container" id="about-img">
        <!-- background image -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 icon-section">
                <span class=""></span>
            </div>
            <div class="col-md-3 icon-section">
                <span class=""></span>
            </div>
            <div class="col-md-3 icon-section">
                <span class=""></span>
            </div>
            <div class="col-md-3 icon-section">
                <span class=""></span>
            </div>
        </div>
    </div>
</div>
<br /><br />
<!--Carousel-->
<div class="container" id="carousel-container">
    <div class="container" id="carousel-container" style="width:100%;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="width: 100%;">
                <div class="item active">
                    <div class="slider-container">
                        <div class="row">
                            <div class="col-xs-2">
                                <!--empty space-->
                            </div>
                            <div class="col-xs-8 slider-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="~/Content/image/profile.png" />
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="testimony">
                                            <h3>Brandon Ingram | <small> Los angeles Lakers 2018</small></h3>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.
                                                It has survived not only five centuries
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <!--empty space-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="slider-container">
                        <div class="row">
                            <div class="col-xs-2">
                                <!--empty space-->
                            </div>
                            <div class="col-xs-8 slider-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="~/Content/image/profile.png" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="testimony">
                                            <h3>Brandon Ingram | <small> Los angeles Lakers 2018</small></h3>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.
                                                It has survived not only five centuries
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <!--empty space-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="slider-container">
                        <div class="row">
                            <div class="col-xs-2">
                                <!--empty space-->
                            </div>
                            <div class="col-xs-8 slider-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="~/Content/image/profile.png" class="img-responsive"/>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="testimony">
                                            <h3 style="color: #fff;">Brandon Ingram | <small> Los angeles Lakers 2018</small></h3>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                when an unknown printer took a galley of type and
                                                scrambled it to make a type specimen book.
                                                It has survived not only five centuries
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <!--empty space-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
